<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <p>Do dyspozycji studentów wszystkich kierunków są nowoczesne laboratoria, specjalistyczne pracownie informatyczne, graficzne, projektowe. Uczelnia udostępnia ponad 600 komputerów w 40 laboratoriach wyposażonych w unikalny sprzęt i najnowsze na rynku oprogramowanie. Dzięki umowom licencyjnym podpisanym z firmami z branży IT studenci mają stały dostęp do aktualizacji i najnowszych wersji oprogramowania.</p>
        <p>Ćwiczenia i zajęcia laboratoryjne odbywają się w szesnastoosobowych grupach. W trakcie zajęć w laboratoriach komputerowych każdy student ma do dyspozycji oddzielny komputer. Osoby przygotowujące swoje prace dyplomowe mają nieograniczony dostęp do specjalistycznych pracowni.</p>
        <p>Kształcenie odbywa się także w laboratoriach multimedialnych, na które składają się: profesjonalne studio nagrań, laboratorium graficzne wyposażone w BlueBox, laboratorium do realizacji dźwięku, itp. Do dyspozycji studentów jest także profesjonalne studio fotograficzne, pracownie malarskie, pracownia grafiki warsztatowej, itp.</p>
        <p>Przez cały tok studiów uczelnia zapewnia intensywną naukę języka angielskiego i fakultatywnie japońskiego. PJATK jest jedynym w Polsce oficjalnym centrum egzaminacyjnym umożliwiającym zdobycie obowiązującego na całym świecie certyfikatu z języka japońskiego. Istnieje także możliwość wyboru innego języka obcego na wyższych semestrach. Informacje dotyczące nauki języków obcych można znaleźć na stronie Studium Języków Obcych.</p>
        <p>Cały kampus pokryty jest bezprzewodową siecią Wi-Fi umożliwiającą korzystanie z Internetu przy pomocy urządzeń mobilnych. Dodatkowo uczelnia jest członkiem konfederacji Eduroam, dzięki czemu studenci mogą korzystać z bezprzewodowego Internetu na wielu uczelniach na świecie.</p>
    </main>
<%- include('./fragments/footer.ejs') %>